<template>

    <div>
        <form v-on:submit="cargar" action="javascript:void(0)">
            <p><label for="id">Id</label> <input id="id" type="text" v-model="id"></p>
            <p><input type="submit" value="Cargar"/></p>
        </form>

        <hr/>

        <p>Nombre: {{nombre}}</p>
        <p>Descripcion: {{descripcion}}</p>
        <p><img :src="imagen" v-if="imagen != ''" height="300" width="auto"/></p>
    </div>

</template>

<script>
    import { mapGetters } from 'vuex'
    import * as types from './store/mutation-types'

    export default {
        name: 'app',

        data() {
            return {
                id: 1
            }
        },

        computed: {
            ...mapGetters({
                nombre: 'nombre',
                descripcion: 'descripcion',
                imagen: 'imagen'
            })
        },

        methods: {
            cargar() {
                this.$store.dispatch(types.GET_RECIPE, this.id);
            }
        }
    }
</script>

<style>
    div {
        padding: 10px;
    }
</style>
